@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("/OverusedGrotesk-VF.woff2") format("woff2"),
    url("/OverusedGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 900;
}

:root {
  font-family: "Overused Grotesk";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Overused Grotesk';
}
a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  font: inherit;
}
select, option {
  font: inherit;
}
form {
  font-size: inherit;
  display: block;
}

dialog {
  border: 0;
  max-inline-size: min(90vw, 60ch);
  max-width: 520px;
  max-height: fit-content;
  width: calc(100% - 28px);
  height: 100%;
  padding: 0;
  margin: auto;
  border-radius: 10px;
}

.react-aria-ToggleButtonGroup {
  display: flex;

  > button {
    border-radius: 0;
    z-index: 1;
    border: none;

    &[data-disabled] {
      z-index: 0;
    }

    &[data-selected],
    &[data-focus-visible] {
      z-index: 2;
    }
  }
}

.react-aria-ToggleButtonGroup[data-orientation=horizontal] {
  flex-direction: row;

  > button {
    margin-inline-start: -1px;
    
    &:first-child {
      border-radius: 4px 0 0 4px;
      margin-inline-start: 0;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}